#contact{
    background-color: #F7F7F7;

}



#contact > .container{

}
.formulaire > table{
    width: 100%;
}
form{
    width: 100%;
}
table{
    width: 100%;
}
table > tbody > tr > td{
    padding : 5px
}



.category_contact{
    padding: 10px 40px;
}
.category-title{

    text-align: left;
    margin: 20px 0px;
    font-size: 20px;

    text-transform: uppercase;
}
.category_content{
    text-align: center;
}

.input:focus{
    border-color: #1C8249;
    border:none;
}
.input{
    border-radius: 3px;
    width: 100%;
    padding: 10px 16px;
    line-height: 1.3333333;

    background-color: white;
    border:none;

}
.inp_message{
    height: 200px;
}

.adr-category{
    display: flex;
    flex-direction: row;
}

.form_error{
    color: red;
}
