body{
    font-family: 'Lato', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif !important;
}
body,p,a{
    font-family: 'Lato', sans-serif !important;
    font-size: 16px !important;
}

@media (max-width: 768px) {
    body,p,a {
        font-size: 14px !important;
    }
}

i{padding: 5px 5px;}
section{padding:80px 0px;}
section > h3{
    color: #1C8249;
    font-size: 3rem;
    font-weight: bolder;

    text-align: center;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
