
.triangle{
    border-top:10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
}
.triangle-reverse{
    border-top:10px solid transparent;
    border-left: 10px solid black;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
}
